body{
  overflow: hidden;
}

.mapContainer {
  margin-top: 25px;
}

.mapDiv{
  height: 800px;
  width: 900px;
}
#signup{
  color: #039BE5;
}
.loginForm {
  width: 517px;
    height: 400px;
    margin-left: 517px;
    margin-top: 150px;
    border: 2px solid #b1b6ba;
}

.FormRegister{
  margin-top: 57px;
    border: 2px solid #b1b6ba;
    width: 594px;
    margin-left: 467px;
}


.forgot-password, .forgot-password a {
  text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin-right: 95px;
    margin-top: 2px;
}


input.form-control {
  width: 479px;
  margin: auto;
  margin-top: 64px;
}

button.btn.btn-primary {
  width: 474px;
  margin: auto;
  margin-top: 60px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-right{
  text-align: right!important;
    display: inline-block;
    margin-right: -111px;
}



